header{
    text-align: center;
    padding: 3px;
    background-color: black;
}
 .header1{
    color: rgb(255, 255, 255);
    padding: 20px;
    
 }
 .hg{
   
    font-size: 110px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    background-color: goldenrod;
    margin-top: 8px;
    margin-bottom: 6px;
    padding-left: 120px;
    border: 4px black solid;
   }
   img{
    width:100%;
   margin: 0%;
}
form{
    border: 3px dotted black;
     margin-left: 30%;
    margin-right: 30%;
    padding-left: 180px;
    background-color: rgb(250, 250, 185);
}
input[type="submit"]{
    background-color: rgb(44, 102, 226);
    color: white;
 }

input[type="reset"]{
    background-color: rgb(44, 102, 226);
    color: white;
}
video{
width: 600px;
margin: 15px 30%;
height: 600px;

}
.text{
    font-size: 25px;
    border:black 2px solid;
}
.img{
    width: 45px;
}
.insta{
    width: 45px;
}
.twitter{
    width: 45px;
}
li{
    display: inline-block;
    justify-content:center;
    
}

footer{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    padding: 5px 0px ;
    margin: 0%;
}
.dev{
    text-align: center;
    background-color: rgb(5, 77, 141);
    padding: 2%;
    font-size: 30px;
    color: blanchedalmond;
}
.img1{
    width: 300px;
}
tr{
    text-align: center;
}
.font1{
    font-size: 20px;
}
button{
    background-color: rgb(12, 27, 123);
    color: aliceblue;
}
table{
    text-align: center;
    margin-left: 20%;
}
